body{
    width: 98vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}
 main{
       border-radius: 5px;
        width: 100%;
        margin-top: 0.5rem;
        background-color: rgb(228, 228, 245);
        border:1px solid rgb(61, 14, 114);
        display:flex;
        padding-bottom: 1rem;
    }
    .perfil{
        border-right:1px solid rgb(61, 14, 114);
        width: 30%;
        display:flex;
        flex-direction: column;
      align-items: center;
      overflow:auto;
    }
    .perfil p{
        margin-left: 1rem;
    }
    .perfil img{
        width: 10rem;
        height: 8rem;
        
    }
    .proyectos {
        flex-wrap: wrap;
        width: 70%;
        justify-content: center;
        display:flex;
        
    }
    .proyectos img{
        height: auto;
        width: 80%;
        border:1px solid rgb(159, 162, 216);
    }
        
    .card{
        margin-top: 2rem;
        margin-left:2rem;
        border-radius: 5px;
        background-color: rgb(171, 171, 234);
        border:1px solid blue;
        width: 40%;
       font-size: 10px;
       height: 15rem;
       overflow: hidden;
       display:flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }
    .card button{
        background-color: blue;
        color:white;
        border-radius: 5px;
    }
        .card p{
            height: 20%;
             overflow: hidden;
        }
    
    
.logo{
    width: 4rem;
    height: 100%;  
    display:flex;
    flex-direction: column;
    font-weight: bold;
}
#chkBtn{
    /*display:none;*/
}
 .boton::before{
        content: "☰";
        font-size: 2rem;
    }

    #chkBtn:checked ~ .boton::before{
        content: "✖";
       font-size: 2rem;
    }
.logo img{
    height: 70%;
    width: 100%;
    
}
.logo span{
    text-align: center;
    font-size: 15px ;
    
}
nav{
    height: 100%;
    
    display:flex;
    align-items: center;
margin-left: auto;    
    margin-right: 1rem;
}

nav ul li{
    margin-left:1rem;
    
}

header{
    border-radius: 5px;
    display:flex;
   background-color: rgba(234, 237, 233);
   border:2px solid rgb(171, 220, 154);
   height: 4rem; 
}
header ul{
    display:flex;
    list-style: none;  
}
footer{
    margin-top: 0.5rem;
    background-color: rgb(243, 231, 216);
}
/*a partir de 536 px de ancho pantalla aplica estos estilos*/
@media screen and (max-width:535px){
    body{
        width: 95%;
    }
    header{
        height: auto;
        position: relative;
        align-items: center;
    }

    nav{
        width: auto;
        margin-left: auto;
        margin-right: 1rem;
        
    }
       

    .boton{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

   

    nav ul{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        opacity: 0.7;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
         background-color: rgb(217, 235, 210);
        transition: max-height 0.5s ease;
    }
    main {
        border:none;
        flex-direction: column-reverse;
        background-color: white;
    }
    .proyectos ,.perfil{
        background-color: rgb(228, 228, 245);
        border-radius: 5px;
    }
    .proyectos{
        width: 100%;
    }
    .perfil{
          
        margin-top: 0.5rem;
        font-size: 10px;
        width: 100%;}



    #chkBtn:checked ~ ul{
        max-height: 300px;
    }
}

@media screen and (max-width:379px){

    .card{
       
       
        width: 10rem;
       font-size: 7px;
       height: 13rem;
       
    }
    .card button{
        background-color: blue;
        color:white;
        border-radius: 5px;
    }
        .card p{
            height: 20%;
             overflow: hidden;
        }
    
    

}